body{
    margin:0;
    /* font-family:"Curlz MT"; */
    /* font-family:"Jazz LET"; */
    font-family:"Mistral";
    /* font-family:"Party LET"; */
    font-size:18px;
    background:#363636;
    color:white;
}
*{
    transition:all .3s ease;
}
#sence{
    width:810px;
    height:600px;
    margin:30px auto;
    position:relative;
    cursor:pointer;
}
.poker{
    position:absolute;
    width:90px;
    height:120px;
    text-align:center;
    line-height:50px;
    background-size:cover;
    box-shadow: 1px 1px 3px black;
    font-weight:800;

    border-radius:3px;
    opacity:0.95;
}
.ac{
    background-color:#fc6042;
}
.ad{
    background-color:#fcb941;
}
.ah{
    background-color:#2cc990;
}
.as{
    background-color:#2cb2c9;
}

.remain-poker{
    box-shadow:none;
    position:absoulte;
    bottom:0;
    left:0;
}

.button{
    position:absolute;
    left:360px;
    width:80px;
    height:20px;
    border-radius:3px;
    background:#eee657;
}
.cur{
    -webkit-transform:scale(1.1,1.1);
}
#move-to-right{
    bottom:80px;
}
#move-to-left{
    bottom:40px;
}
.set{
    width:90px;
    height:120px;
    position:absolute;
    bottom:0;
}
#left-set{
    left:120px;
}
#right-set{
    left:600px;
}